config BACKPORT_INTEGRATE
	bool
	def_bool y

config BACKPORT_DIR
	string
	default "backports"

config BACKPORT_VERSION
	string
	default "v5.1.16-1-1-g67771ffe"

config BACKPORT_KERNEL_VERSION
	string
	default "v5.1.16-0-g8584aaf1c326"

config BACKPORT_KERNEL_NAME
	string
	default "Linux"

menuconfig BACKPORT_LINUX
	bool "Backport Linux v5.1.16-0-g8584aaf1c326 (backports v5.1.16-1-1-g67771ffe)"
	default n
	---help---
	  Enabling this will let give you the opportunity to use features and
	  drivers backported from Linux v5.1.16-0-g8584aaf1c326
	  on the kernel your are using. This is experimental and you should
	  say no unless you'd like to help test things or want to help debug
	  this should we run into any issues.

if BACKPORT_LINUX

source "$BACKPORT_DIR/Kconfig.versions"
source "$BACKPORT_DIR/Kconfig.sources"
# source "$BACKPORT_DIR/Kconfig.local"

endif # BACKPORT_LINUX
